<!-- Host Picture Section -->
<div class="flex flex-row pb-6">
  <div class="basis-4/5">
    <h3 class="font-semibold text-2xl">
      Entire cottage is hosted by <%= @listing.host.full_name %>
    </h3>
    <%= "#{@listing.guests} guests . 4 bedrooms . 8 beds . 4 baths" %>
  </div>
  <div class="basis-1/5">
    <%= link_to profile_path(id: @listing.host) do %>
      <img class="ml-auto col-span-1 h-16 w-16 rounded-full"
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
      alt="">
    <% end %>
  </div>
</div>

<hr class="pb-6">

<div class="flex flex-row pb-6 place-items-center">
  <div class="basis-1/10">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M16.5 18.75h-9m9 0a3 3 0 013 3h-15a3 3 0 013-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 01-.982-3.172M9.497 14.25a7.454 7.454 0 00.981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 007.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 002.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 012.916.52 6.003 6.003 0 01-5.395 4.972m0 0a6.726 6.726 0 01-2.749 1.35m0 0a6.772 6.772 0 01-3.044 0" />
    </svg>
  </div>
  <div class="basis-9/10 ml-4">
    <h3 class="font-semibold">Nataniel Feliciano is a Superhost</h3>
    <p class="text-sm text-slate-500">Superhosts are experienced, highly rated hosts who are committed to
      providing great stays for guests.</p>
  </div>
</div>
<div class="flex flex-row pb-6 place-items-center">
  <div class="basis-1/10">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
    </svg>
  </div>
  <div class="basis-9/10 ml-4">
    <h3 class="font-semibold">Great check-in experience</h3>
    <p class="text-sm text-slate-500">100% of recent guests gave the check-in process a 5-star rating.</p>
  </div>
</div>
<div class="flex flex-row pb-6 place-items-center">
  <div class="basis-1/10">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M9 9l10.5-3m0 6.553v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 11-.99-3.467l2.31-.66a2.25 2.25 0 001.632-2.163zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 01-.99-3.467l2.31-.66A2.25 2.25 0 009 15.553z" />
    </svg>
  </div>

  <div class="basis-9/10 ml-4">
    <h3 class="font-semibold">Party right away</h3>
    <p class="text-sm text-slate-500">This is a party friendly place</p>
  </div>
</div>
