<section>
  <div class="flex text-2xl font-semibold">
    <h2>Haunted House</h2>
  </div>

  <div class="mt-2 grid grid-cols-2 place-content-between">
    <div class="mr-auto flex">
      RATING/REVIEWS/LOCATION
    </div>
    <p class="ml-auto">share/save</p>
  </div>

  <div class="mt-8 grid grid-rows-2 h-80 grid-cols-8 gap-2">
    <div class="rounded-l-lg row-span-2 col-span-4 bg-red-500">
      IMAGE DISPPLAY
    </div>
    <div class="row-span-1 col-span-2 bg-green-500">
      IMAGE DISPPLAY
    </div>
    <div class="rounded-r-lg row-span-1 col-span-2 bg-green-500">
      IMAGE DISPPLAY
    </div>
    <div class="row-span-1 col-span-2 bg-green-500">
      IMAGE DISPPLAY
    </div>
    <div class="rounded-r-lg row-span-1 col-span-2 bg-green-500">
      IMAGE DISPPLAY
    </div>
  </div>
</div>

